*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body{
    background: #3A1C71;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
  
#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  
#main{
    flex-grow: 1;
}
.item span{
    width: 85%;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item button{
    display: flex;
    flex-direction: row;
}